<html>
    <head>
        <title>Editing: {{ post.title }}</title>
    </head>
    <body>
        <form id="form_id" action="/admin/edit/{{ post.id }}" method="post">
            <p>
                New post:
            </p>
            <p>
                Title
            </p>
            <input type="text" name="title" value="{{ post.title }}">
            <p>
                Body
            </p>
            <textarea name="body" rows="8" cols="40">{{ post.body }}</textarea>
            <input type="submit" name="submit" value="Submit">
        </form>
    </body>
</html>
