<html>
    <head>
        <title>Admin</title>
    </head>
    <body>
        <a href="/admin/new">New Post</a>
        <ul>
        {% for post in posts %}
          <li>
              <p>{{ post.title }}</p>
              <p>
                  <span><a href="/admin/edit/{{ post.id }}">Edit</a></span>
                  <form id="form_id" action="/admin/delete/{{ post.id }}" method="post">
                      <input type="submit" name="submit" value="Delete">
                  </form>
              </p>
          </li>
        {% endfor %}
        </ul>
    </body>
</html>
