<html>
    <head>
        <title>Blog</title>
    </head>
    <body>
        <p>
            <a href="/admin">Admin</a>
        </p>
        <ul>
        {% for post in posts %}
          <li><a href="/post/{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
        </ul>
    </body>
</html>
