<html>
    <head>
        <title>{{ post.title }}</title>
    </head>
    <body>
        <div id="post-content">
            {{ post.body }}
        </div>
        <form id="form_id" action="/post/{{ post.url }}/comments" method="post">
            <p>
                Leave a comment:
            </p>
            <p>
                Email
            </p>
            <input type="text" name="email" value="">
            <p>
                Name
            </p>
            <input type="text" name="name" value="">
            <p>
                Comment
            </p>
            <textarea name="body" rows="8" cols="40"></textarea>
            <input type="submit" name="some_name" value="Submit">
        </form>
        <p>
            Comments
        </p>
        <ul>
        {% for comment in comments %}
          <li>
              <p>
                  Name: {{ comment.author }}
              </p>
              <p>
                  Comment: {{ comment.body }}
              </p>
          </li>
        {% endfor %}
        </ul>
    </body>
</html>
